
@{
    ViewBag.Title = "ManagerUsers";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@{
    


                                            foreach (DataAccess.KhachHangDTO temp in ViewBag.customer)
                                            {
                                                string banForm = "banForm" + temp.ID;
                                                  string unbanForm = "unbanForm" + temp.ID;
                                <table class="table table-striped table-bordered" id="my-orders-table">
                                    <thead>
                                        <tr class="first last">
                                            <th>Tên Đăng Nhập #</th>
                                            <th>Ngày Sinh</th>
                                            <th>Địa chỉ</th>
                                            <th>Số Điện Thoại</th>
                                            <th>email</th>
                                            <th>Tình trạng</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                                
                                          
                                        <tr class="first last odd">
                                            <td>@temp.UserName</td>
                                            <td>@temp.BirthDay</td>
                                            <td>@temp.Address</td>
                                            <td>@temp.Phone</td>
                                            <td>@temp.Email</td>
                                            <td>@temp.Status</td>
                                            @{
                                            if(temp.Status == "normal")
                                            {
                                                <form name='@banForm' method='POST' action='../Admin/ManagerUsers'>
                                                    <input type='hidden' name='banID' value='@temp.ID'>   
                                                    <input  type="submit" value="Khóa Tài Khoản Này">
                                               </form>
                                                
                                            }
                                            else if(@temp.Status == "banned")
                                            {
                                                <form name='@unbanForm' method='POST' action='../Admin/ManagerUsers'>
                                                    <input type='hidden' name='unbanID' value='@temp.ID'>   
                                                    <input  type="submit" value="Mở khóa Tài Khoản Này">
                                               </form>
                                             }
                                            else
                                            {
                                            }
}
                                        </tr>
                                            
                                      
                                    </tbody>
                                </table>

}
                                }
   

