
@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/styleDangKi.css")" rel="stylesheet" type="text/css" />
<div class="BlockContent marginleft">
    <div class="defaultTitle TextHTML-Title">
        <span>
            Thông tin giới thiệu
        </span>
    </div>
    <p style="text-align: justify;"><strong>NGÀNH NGHỀ KINH DOANH:</strong></p>
    @ViewBag.NganhNgHeKinhDoanh
    <p style="text-align: justify;"><strong>TẦM NHÌN:</strong></p>
    @ViewBag.TamNhin
    <p style="text-align: justify;"><strong>SỨ MỆNH:</strong></p>
    @ViewBag.SuMenh
    <p style="text-align: justify;"><strong>GIÁ TRỊ CỐT LÕI:</strong></p>
    @ViewBag.GiaTriCotLoi
    <p style="text-align: justify;"><strong>TRIẾT LÝ KINH DOANH:</strong></p>
    @ViewBag.TrietLiKinhDoanh
 </div>>

